{% extends 'base.html.twig' %}

{% block title %}ApiStory{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #galerielivre{
        
        background-color: white;
    }
    .boutons {
        padding: 10px;
    }

    #mydialog {
        position:fixed;
        top:50vh;
        left:40vw;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        padding:10px;
        background-color:white;
    }
    .close{
        display:none;
    }
    #magalerie{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #listeLivres{
        
        position:fixed;
        top:50vh;
        left:40vw;
        background:white;
        width:40vw;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        padding:10px;
    }
    #deleteLivre{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
    }
    
    .livreTodelete, #titreliste{
        list-style: none;
    }
</style>

<div class="example-wrapper">
    
    <h2>Bonjour {{app.user.username}}</h2>
    <section>
        <h3>Mes histoires</h3>
        <div id="galerielivre">
            <div id="magalerie">
                {% for livre in meslivres %}
                    
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./couvertures/{{livre.couverture}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{livre.titre}}</h5>
                            <p class="card-text"> {{livre.resume}}</p>
                            <a href="/accueil/nouvhistoire/{{livre.id}}" class="card-link">Ouvrir le livre</a>
                        </div>
                    </div>
                    
                {%endfor%}
            </div>
        </div>
        <h3>Ajouter ou effacer une histoire</h3>

    </section>
    
           
        <div id="mydialog" class='close'> Créer un nouveau livre 
            <div>
                    {{form_start (formulaire)}}   

                    {{form_row (formulaire.titre)}} 
                    {{form_row (formulaire.resume)}} 
                    {{form_row (formulaire.couverture)}}
                    <div class="boutons">                      
                        <button class="btn btn-lg btn-info" >Créer</button>
                     </div>
                    
                    {{form_end (formulaire)}} 
                    <div class='boutons'> <button class="btn btn-lg btn-warning" onclick="ferme()">Fermer</button>&nbsp;
                    </div>
            </div>

        </div>
    
    
        <div  class="boutons">
            <label for="button">Créer</label>
            <button onclick="show()" class="btn btn-lg btn-success">+</button>
            <label for="button">Effacer</label>
            <button onclick="show2()" class="btn btn-lg btn-danger">-</button>
        </div>
                    
        <div id="listeLivres" class='close'>
            <form id='deleteLivre' action="{{path('deletelivre')}}" method="post">
                <ul>
                    <li id="titreliste">ATTENTION EFFACEMENT PERMANENT !</li>
                {% for livre in meslivres %}

                    <li class="livreTodelete">  
                        <input type="radio" name="livredelete" value={{livre.id}}>
                        <label for="input">{{livre.titre}}</label>                       
                    </li>

                {%endfor%}
                </ul>
                <button class="btn btn-lg btn-warning">Effacer le livre</button>        
            </form>
            <button class="btn btn-lg btn-danger" onclick="ferme2()">Annuler</button>
        </div>
</div>

{% endblock %}
{% block javascripts %}
    <script>
        var $dialog = document.getElementById('mydialog'); 
        var $deletelivre=document.getElementById('listeLivres');
        console.log("hello");
        
        function ferme(){
            $dialog.classList.add('close');
        }
        function ferme2(){
            $deletelivre.classList.add('close');
        }
        function show(){
            $dialog.classList.remove('close');
        }
        function show2(){
            $deletelivre.classList.remove('close');
        }

    </script>
{% endblock %}