{% extends 'master_page.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('userpage.css')}}"/>
{% endblock %}
{% block title %}ApiStory{% endblock %}

{% block contenuMain %}
    <section id='sectionmonlivre'>
        <div id="mesboutons">
            <button id='macouv' onclick='changeCouv()' class="btn btn-outline-info btn-lg">Changer la couverture</button>
            <button id='moncontenu' onclick='envoie()' class="btn btn-primary btn-lg">Changer le titre et résumé </button>
        </div>
        
        <div  id='monlivre'>          
            <h1 id='titrelivre' style="font-family: 'Pacifico', cursive;" >{{livre.titre}}</h1>
            <img  src="../../couvertures/{{livre.couverture}}" alt="Card image cap">
        </div>
        
        <div class="panel panel-info">   
            <div class="panel-heading" style="background-color:#ccccff; font-family:'Lobster' "><h2>Résumé</h2></div>
            <div class="panel-body" >
             <p  id='monresumetext'style="background-color:#dcdcec">{{livre.resume}}</p>
             </div>
        </div>
        <a href="{{path('pdf_producer')}}">Générer le pdf de la couverture</a>
      
 
  

    </section>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
             <div class="container">
                 
                 <div class="row" style='display:flex;flex-direction: row; justify-content: space-around'>
                     <h5 class='form-title' style="color:#0066cc">Mettre à jour les champs Titre et Résumé ?</h5>
                   <span class="close">&times;</span>
                 </div>
                <form method="post" action="{{path('updatetitre')}}" id="monformtitre">
                    
                    <input class="form-control" name='titre' type="text" value="{{livre.titre}}" placeholder="{{livre.titre}}">
                    <textarea class="form-control" id='resumeinput' name="resume" cols="30" rows="10" value="{{livre.resume}}">{{livre.resume}}</textarea>

                    <button id="confirmUpdate" class="btn btn-info">Confirmer</button>
                </form>
             </div>
          </div>
        </div>
        
        <div id="myModalCouv" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" action="{{path('updatecouv')}}" enctype="multipart/form-data">
                <p>Choisir une nouvelle couverture:</p>
                <input name='couverture' type="file">

                <button id="confirmCouv" class="btn btn-info">Changer</button>
            </form>
          </div>
        </div>
        
        
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{asset('scriptupdate.js')}}"></script>
{% endblock %}