{# ./templates/pdf_producer/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title of the PDF</title>
    </head>
    <body style="display:flex; flex-direction:column; justify-content: space-around;">
        <h4>{{ title }}</h4>
       
        <p>{{livre.resume}}</p>
        <img  style="width:400px; height:660px" src="./couvertures/{{livre.couverture}}" alt="Card image cap">
    </body>
</html>
{#{% block stylesheets %}  
    <link rel="stylesheet" href="{{asset('PdfCss.css')}}"/>
{% endblock %}
{% block body %}
    <h4>{{ title }}</h4>   
    <p>{{livre.resume}}</p>
    <img src="./couvertures/{{livre.couverture}}" alt="Card image cap">
    
    
{% endblock %}#}