{% extends 'master_page.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('userpage.css')}}"/>
{% endblock %}
{% block contenuMain %}
    <section id='sectionauteur'>
        <div id='formauteur' class="container">
        {{form_start(formulaireauteur)}}
            <div class="md-form">
            {{form_row(formulaireauteur.nom,{'attr': {'class': 'form-control'}})}}
            </div>
            <div class="md-form">
            {{form_row(formulaireauteur.prenom,{'attr': {'class': 'form-control'}})}}
            </div>
            <div class='file-path-wrapper'>
            {{form_row(formulaireauteur.photo,{'attr': {'class': 'file-path'}})}}
            </div>
            <div class="md-form">
            {{form_row(formulaireauteur.bibliographie,{'attr': {'class': 'form-control'}})}}
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Enregistrer/Changer</button>
        {{form_end(formulaireauteur)}}

        </div>
        
        <div id='infoauteur' class="card">
            <h5 class="card-header info-color white-text text-center py-4">
            <strong>Auteur</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <div class="text-center" style="color: #757575;">
                    <p class="form-control"> {{auteur.nom|default("Nom auteur")}} {{auteur.prenom|default("Prénom auteur")}}</p>
                    <div id="infodescauteur">
                        <img id='photoauteur' src="../../photos/{{auteur.photo|default("logo.jpg")}}" alt="photo">
                        <p id="biblio" name="bibliographie" class="form-control-plaintext">{{auteur.bibliographie|default('Espace pour bibliographie')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}





   


