{% extends 'master_page.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('userpage.css')}}"/>
{% endblock %}
{% block contenuMain %}
    <section id='sectionauteur'>
        <div id='formauteur'>
        {{form_start(formulaireauteur)}}
            {{form_widget(formulaireauteur)}}
            <button>Enregistrer</button>
        {{form_end(formulaireauteur)}}

        </div>
        <div id='infoauteur'>
            <p>Nom: {{auteur.nom|default("Nom auteur")}}</p>
            <p>Prénom: {{auteur.prenom|default("Prénom auteur")}}</p>
            <img id='photoauteur' src="../../photos/{{auteur.photo|default("logo.jpg")}}" alt="photo">
        </div>
    </section>
    
{% endblock %}
